.admin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  & .navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
    & .nav-item {
      width: 100px;
      height: 100px;
      background-color: var(--secondary-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      cursor: pointer;
      & img {
        height: 60px;
      }
      & span {
        margin-top: 8px;
        font-weight: 500;
        color: white;
      }
    }
  }
}

.active {
  background-color: var(--primary-color) !important;
}
