<div class="container box-shadow">
  <section class="superior">
    <div class="date-time-container">
      <span class="date">14 de marzo 2020</span>
      <span class="time">14:30 PM</span>
    </div>
    <div class="genre-container">
      <span>ROCK</span>
    </div>
  </section>
  <section class="middle">
    <img
      src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/modern-glossy-music-event-poster-design-template-84d38a706368baec17981e71a5e5810d_screen.jpg?ts=1636991393"
      alt=""
    />
  </section>
  <section class="bottom">
    <div class="description-container">
      <span>Bon Jovi en concierto, no te lo pierdas.</span>
    </div>
    <div class="place-container">
      <span>CC TEATRO LEGUIA - LIMA</span>
    </div>
  </section>
</div>
