<div class="container box-shadow">
  <section class="superior">
    <div class="date-time-container">
      <span class="date">{{ data.dateEvent }}</span>
      <span class="time">{{ data.timeEvent }}</span>
    </div>
    <div class="genre-container">
      <span>{{ data.genre }}</span>
    </div>
  </section>
  <section class="middle">
    <img [src]="data.imageUrl" alt="event image" />
  </section>
  <section class="bottom">
    <div class="description-container">
      <span>{{ data.description }}</span>
    </div>
    <div class="place-container">
      <span>{{ data.place }}</span>
    </div>
  </section>
</div>
