<div class="main-container">
  <app-simple-header></app-simple-header>

  <div class="title-container">
    <div class="title-sub-container">
      <span class="title"
        >Restablecer contraseña, ingresa los datos requeridos para restablecer
        tu contraseña</span
      >
    </div>
  </div>

  <div class="content-container">
    <div class="content-sub-container">
      <div class="card-container box-shadow">
        <div class="form-container">
          <span class="title"> RESTABLECER </span>
          <form #forgotPasswordForm="ngForm">
            <mat-form-field class="email" appearance="outline">
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                ngModel
                name="email"
                required
                email
                #email="ngModel"
              />
              @if (email.errors?.['email'] && !email.errors?.['required']) {
              <mat-error>El email no es válido</mat-error>
              } @if (email.errors?.['required']) {
              <mat-error>Email es <strong>requerido</strong></mat-error>
              }
            </mat-form-field>
            <button
              mat-raised-button
              color="primary"
              [disabled]="forgotPasswordForm.invalid"
              (click)="onSubmit(forgotPasswordForm.value.email)"
            >
              RESTABLECER
            </button>
            <div class="login">
              <span
                >Si ya tienes una cuenta
                <a routerLink="/login">ingresa</a></span
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
