.main-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  & .title-container {
    display: flex;
    justify-content: center;
    & .title-sub-container {
      display: flex;
      justify-content: center;
      max-width: 1000px;
      width: 100%;
      padding: 20px;
      & .title {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  & .content-container {
    display: flex;
    min-height: 480px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & .content-sub-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      & .card-container {
        width: 300px;
        height: 300px;
        background-color: var(--secondary-color);
        border-radius: 8px;

        & .form-container {
          width: 100%;
          padding-top: 36px;
          text-align: center;
          & .title {
            color: var(--primary-color);
            font-weight: 500;
            font-size: 16px;
          }
          & form {
            margin-top: 20px;
            & mat-form-field {
              width: 240px;
            }
            & .email {
              margin-top: 8px;
            }
            & button {
              margin-top: 10px;
              width: 240px;
            }
            & .login {
              margin-top: 18px;
              font-size: 12px;
              & span {
                color: white;
                & a {
                  color: var(--accent-color);
                  text-decoration: none;
                }
              }
            }
          }
        }
      }
    }
  }
}
