<header class="box-shadow">
  <div class="container">
    <div class="logo-container" routerLink="/home">
      <img src="assets/images/logo.png" alt="logo" />
      <h1>MUSICAL EVENTS</h1>
    </div>
    <div>
      <input class="search-bar" type="text" placeholder="Buscar..." />
    </div>
    <div class="buttons-container">
      <button mat-button class="login" routerLink="/login">INGRESAR</button>
      <button mat-button class="register" routerLink="/register">
        REGÍSTRATE
      </button>
    </div>
  </div>
</header>
