/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/colors.css";
@import "./assets/styles/material.css";

html {
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

.box-shadow {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
