.home-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  & .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    & .filter {
      display: flex;
      width: 940px;
      gap: 20px;
      align-items: center;
      margin-top: 30px;
      & span {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 16px;
      }
    }
    & .event-list {
      width: 1000px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 20px;
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
}
